.dropdown-menu[b-w4ckm1vex2] {
    position: relative;
    display: inline-block;
}

.dropdown-content[b-w4ckm1vex2] {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 8rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item[b-w4ckm1vex2] {
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    color: #000;
}

.dropdown-item:hover[b-w4ckm1vex2] {
    background-color: #ddd;
}

.dropdown-menu:hover .dropdown-content[b-w4ckm1vex2] {
    display: block;
}

.dropdown-item button[b-w4ckm1vex2] {
    border: 0;
    background: transparent;
    cursor: pointer;
    width: 100%;
    padding: 0;
    text-align: left;
}

.container[b-w4ckm1vex2] {
    height: 100%;
    align-content: center;
    position: relative;
    top: 10%;
}

.card[b-w4ckm1vex2] {
    height: 370px;
    /* margin-top: auto;
    margin-bottom: auto;
    width: 400px; */
    background-color: rgba(43, 62, 76,0.7);
    /*rgba(0,0,0,0.5) !important*/
}

.social_icon span[b-w4ckm1vex2] {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

    .social_icon span:hover[b-w4ckm1vex2] {
        color: white;
        cursor: pointer;
    }

.card-header h3[b-w4ckm1vex2] {
    color: white;
}

.card-footer a[b-w4ckm1vex2]{
    color: #ffecc1;
}

.social_icon[b-w4ckm1vex2] {
    position: absolute;
    right: 20px;
    top: -45px;
}

input:focus[b-w4ckm1vex2] {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember[b-w4ckm1vex2] {
    color: white;
}

    .remember input[b-w4ckm1vex2] {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

.input-group-prepend span[b-w4ckm1vex2] {
    width: 40px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
    height: 100%;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.login_btn[b-w4ckm1vex2] {
    color: black;
    background-color: #FFC312;
    width: 120px;
}

    .login_btn:hover[b-w4ckm1vex2] {
        color: black;
        background-color: white;
    }

.links[b-w4ckm1vex2] {
    color: white;
}

    .links a[b-w4ckm1vex2] {
        margin-left: 4px;
    }